<p>evenements works! Tous va béné</p>

<div class="container"> 
    <div class="card shadow mb-4">                    
      <div class="card-body">  
       <table class="table table-striped"> 
          <tr> <th>Nom</th><th>EvenementId</th><th>Date de debut</th><th>Date de la fin</th> </tr> 
                <tbody *> <!-- > *ngFor="let produit of produits"<!-->
                         <tr > 
                            <td><!-- > {{Evenement.id}} <!-->  </td> 
                            <td><!-- > {{Evenement.nom}}<!--> </td> 
                            <td><!-- > {{Evenement.dateDebut}}<!--> </td> 
                            <td><!-- > {{Evenement.dateDebut}}<!--> </td> 
                          </tr>                                     
                 </tbody> 
      </table> 
      </div> 
    </div> 
  </div>