<p>evenements works! Tous va béné</p>

<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <tr>
          <th>Id</th>
          <th>Nom</th>
          <th>Date</th>
          <th>Lieu</th>
          <th>Tournois</th>
        </tr>
        <tbody>
          <tr *ngFor="let ev of evenements">
            <td>{{ ev.id }}</td>
            <td>{{ ev.nom }}</td>
            <td>{{ ev.date | date: "dd/MM/yyyy" }}</td>
            <td>{{ ev.lieu}}</td>
            <td>
              <ul>
                <li *ngFor="let t of ev.listTournois">
                <a [routerLink]="['tournoi',t.id]">{{ t.nom }}</a></li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
