<p>ajout-equipe works!</p>
<div class="card shadow mb-4 container">
    <h1>Ajouter une équipe</h1>
    <div class="card-body">
        <form>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nom</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="text" name="nom" [(ngModel)]="newEquipe.nom" class="form-control" required />
                        </td>
                        <td>
                            <button type="submit" (click)="addEquipe()" class="btn btn-success">
                                Ajouter
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>