<br />
<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Equipes</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ tournoi.nom }}</td>
            <td>{{ tournoi.description }}</td>
            <td>
              <ul>
                <li *ngFor="let e of  getTournoi().listEquipes">
                  <a [routerLink]="[e.id]">{{ e.nom }}</a>
                </li>
                <button class="nav-link" *ngIf="showGestBoard" routerLink="ajoutEquipe" type="submit" class="btn btn-success">+</button>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

