<br />
<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Tournoi {{ tournoi.nom }}</th>
            <th> {{ tournoi.description }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of tournoi.listEquipes">
            <td> Equipe {{e.id }}</td>
            <td ><a [routerLink]="[e.id]">{{ e.nom }}</a></td>
          </tr>
          <tr>
            <td colspan="2"><button
                *ngIf="showGestBoard"
                type="submit"
                class="btn btn-success"
                [routerLink]="['ajoutEquipe', tournoi.id]" 
              >
                Ajouter
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

