<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Evenements</title>
</head>
<body>    

<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Gestion des évenements</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
      <a class="nav-link" routerLink="evenements">Home</a>
    </li>
    <br>
    <li class="nav-item" *ngIf="showAdminBoard">
      <a class="nav-link" routerLink="ajoutEvenement">Ajouter</a>
    </li>
    <br>
    
    <li class="nav-item" *ngIf="showGestBoard">
      <a class="nav-link" routerLink="modifierEvenement">Modifier</a>
    </li>
    <br>

    <li class="nav-item" *ngIf="showAdminBoard ">
      <a class="nav-link" routerLink="supprimerEvenement">Supprimer</a>
    </li>
    <br>

     <li class="nav-item" *ngIf="showAdminBoard ">
      <a class="nav-link" routerLink="user">Gestion des utilisateurs</a>
    </li>
    <br>
      
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ login }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

</body>
</html>

<router-outlet></router-outlet>