<br>
<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped container" >
        <tr>
          <th>Nom</th>
          <th>Joueurs</th>
        </tr>
        <tbody>
          <tr >
            <td>{{equipe.nom}}</td>
            <td >
             <ul *ngFor=" let eq of equipes ">
              <li *ngFor=" let jr of eq.listJoueur ">
                <a [routerLink]="['joueur', jr.id]"> {{jr.nom}}</a>
              </li>
             </ul>
             <button type="submit" class="btn btn-success" [routerLink]="[equipe.id]">Ajouter un joueur</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
o