<br />
<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
          <h1>Modifier votre évenement :</h1>
      <form>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>{{ ev.nom }}</th>
              <th>{{ ev.date | date: "dd/MM/yyyy" }}</th>
              <th>{{ ev.lieu }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input
                  type="text"
                  name="nom"
                  [(ngModel)]="ev_update.nom"
                  class="form-control"
                  required
                />
              </td>
              <td>
                <input
                  type="date"
                  name="date"
                  [(ngModel)]="ev_update.date"
                  class="form-control"
                  required
                />
              </td>
              <td>
                <input
                  type="text"
                  name="lieu"
                  [(ngModel)]="ev_update.lieu"
                  class="form-control"
                  required
                />
              </td>
              <td>
                <button type="submit" class="btn btn-success" (click)="updateEvenement(ev.id)">
                  Enregistrer
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
  <div class="container">
    <div class="card shadow mb-4">
      <div class="card-body">
        <h2>Tournois :</h2>
        <table class="table table-striped">
          <tbody>
            <tr *ngFor="let t of ev.listTournois">
              <td>
                <a [routerLink]="['/evenements/tournoi', ev.id, t.id]">{{
                  t.nom
                }}</a>
              </td>
              <td><button type="submit" class="btn btn-danger" (click)="supprimerTournoi(t)">Supprimer</button></td>
            </tr>

            <tr>
              <td colspan="2" >
                <button type="submit" class="btn btn-success" [routerLink]="['/ajoutTournoi',ev.id]" >Ajouter</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
