<div class="container" >
    <div>
        <h2>Ajouter un Evenement :</h2>
    </div>
    <form>
        
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Nom de l'évenement</label>
            <input type="text" name="nom" [(ngModel)]="newEvenement.nom" class="form-control" required>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Date de début</label>
            <input type="date" name="dateDeb" [(ngModel)]="newEvenement.dateDeb" class="form-control" required>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Date de fin</label>
            <input type="date" name="dateFin"  min="dateDeb" [(ngModel)]="newEvenement.dateFin" class="form-control" required>
        </div>

        <div class="mt-2">
            <button type="submit" (click)="addEvenement()" class="btn btn-success">Ajouter</button>
        </div>
    </form>

</div>